# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.Debug
*.Release
MakeFile
*.user
*.gradle
/mainproject/android-build
/mainproject/main/virtual/armeabi-v7a
/mainproject/main/virtual/release
/mainproject/app_process
/mainproject/linker
/mainproject/libb/libb/armeabi-v7a
/mainproject/libb/libb/debug
/mainproject/libb/libb/release
